/** 
 * ┏━━━┓╋╋╋╋╋╋╋╋┏┓╋╋╋┏┓
 * ┃┏━┓┃╋╋╋╋╋╋╋╋┃┃╋╋┏┛┗┓
 * ┃┗━┛┣━━┳┓┏┳━━┫┃┏┓┣┓┏╋┳━━┳━┓
 * ┃┏┓┏┫┃━┫┗┛┃┏┓┃┃┃┃┃┃┃┣┫┏┓┃┏┓┓
 * ┃┃┃┗┫┃━╋┓┏┫┗┛┃┗┫┗┛┃┗┫┃┗┛┃┃┃┃
 * ┗┛┗━┻━━┛┗┛┗━━┻━┻━━┻━┻┻━━┻┛┗┛ 
 *  A gawd-awful theme by Sneexy
 *      Made only because I got bored and decided to
 *      learn something that I could put to use for something
 *      that I do use almost everyday
 *  Made with some amounts of love
 *      Still a HUGE wip/concept, but I expect this to be
 *      mostly usable when I start learning a bunch of css
 */

 /* root elements which allow for bg */
 :root {
    --primary-background: rgba(var(--primary-background-rgb), 0.75);
    --secondary-background: rgba(var(--secondary-background-rgb), 0.15);
    --message-box: rgba(var(--secondary-background-rgb), 0.75);
    --block: rgba(var(--primary-background-rgb), 0.75);
}

/* server bar */
.jyizw {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    overflow: hidden;
    flex-shrink: 1
}
/* entire right side */
._3LgFW {
    padding: 14px;
}
._11Ivv ._3LgFW>* {
    border-radius: 16px;
    overflow: hidden
}

/* custom background (replace url with your image) */
#app:before {
    z-index: -999;
    background: url('https://i.imgur.com/7SbtKvw.png') no-repeat center / cover fixed;
    position: absolute;
    content: 'deez nuts';
    display: block;
    inset: 0;
    top: 0;
}