@font-face {
    font-family: 'FOT-PopJoy Std';
    src: url('https://github.com/sneexy-boi/dumpster/raw/main/paprvolt/assets/popjoyb.otf'), format(opentype);
}

* {
    font-family: 'FOT-PopJoy Std';
}

[class^="MessageBase-sc-"] {
    background: #ffffff;
    color: #000000;
    border-radius: 30px;
    margin-top: 12px;
    margin-left: 10px;
    margin-right: 10px;
}