:root {
   --message-box-padding: 8px 8px 8px 0;
}

/* smaller chat avatar */
.csvICB .avatar {
   width: 24px;
   height: 24px;
}

/* transparent header (still keeping blur tho) */ 
[class^="Header-sc-"] {
   background-color: transparent;
   backdrop-filter: blur(13px);
}

/* smaller padding above/below messages */
[class^="MessageBase-sc-"] {
   padding: 0.05rem;
}

/* move the message options slightly up a little to not obscure the message */
[class^="sc-iBPTik"] {
   top: -27px;
}

/* moves the message slightly to the left for the smaller chat avatar */
[class^="MessageBase__MessageInfo-sc-"] {
   margin-right: -10px;
}

/* message bubble */
[class^="MessageBase__MessageContent-sc-"] {
   background-color: var(--tertiary-background);
   border-radius: 18px;
   padding: 6px 9px 6px 9px;
   flex-grow: 0;
}

/* smaller username */
.detail > [class^="UserShort__Name-sc-"] {
   font-size: 11px;
}

/* smaller date */
[class^="MessageBase__DetailBase-sc-"] {
   font-size: 9px;
}

/* i forgot what this does lmao */
[class^="sc-jSgvzq"] {
   border-radius: 50px;
}

/* transparent bottom box */
[class^="MessageBox__Base-sc-"] {
   background: transparent;
   padding-bottom: 7px;
}

/* redo margins because message box was kinda off */
[class^="MessageBox__FileAction-sc-"],
[class^="MessageBox__Action-sc-"] {
   margin-bottom: -7px;
}

/* signal-like messagebar */
textarea#message {
   background: var(--message-box);
   border-radius: 50px;
   margin-left: -10px;
   padding-left: 10px;
   margin-top: 5px;
}

[class^="MemberList__ListCategory-sc-"],
[class^="SidebarBase__GenericSidebarBase-sc-"] {
   background: var(--primary-background);
}