:root {
   --message-box-padding: 8px 8px 8px 0;
}

/* serverlist */
[class^="Base-sc-"] {
   width: 72px;
}

[class^="ItemContainer-sc-"] {
   width: 72px;
   align-items: center;
   justify-content: center;
   display: flex;
}

/* custom server selection swoosh */
[class^="SwooshWrapper-sc-"]::before {
   content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!-- Created with Inkscape (http://www.inkscape.org/) --%3E%3Csvg width='48' height='48' viewBox='0 0 48 48' version='1.1' id='svg5' inkscape:version='1.2.2 (b0a8486541, 2022-12-01)' sodipodi:docname='thingy.svg' xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape' xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg'%3E%3Cdefs id='defs2' /%3E%3Cg inkscape:label='Layer 1' inkscape:groupmode='layer' id='layer1'%3E%3Crect style='fill:var(--tertiary-background' id='rect234' width='48' height='48' x='0' y='0' ry='12.02661' /%3E%3C/g%3E%3C/svg%3E%0A");
}

[class^="SwooshWrapper-sc-"] > svg > path,
/* [class^="SwooshWrapper-sc-"] > svg > path:nth-child(2),
[class^="SwooshWrapper-sc-"] > svg > path:nth-child(3), */
[class^="SwooshWrapper-sc-"] > svg > rect {
   display: none;
}

/* smaller chat avatar */
.csvICB .avatar {
   width: 24px;
   height: 24px;
}

/* transparent header (still keeping blur tho) */ 
[class^="Header-sc-"] {
   background-color: transparent;
   backdrop-filter: blur(13px);
}

/* smaller padding above/below messages */
[class^="MessageBase-sc-"] {
   padding: 0.05rem;
}

/* move the message options slightly up a little to not obscure the message */
[class^="sc-iBPTik"] {
   top: -27px;
}

/* moves the message slightly to the left for the smaller chat avatar */
[class^="MessageBase__MessageInfo-sc-"] {
   margin-right: -10px;
}

/* message bubble */
[class^="MessageBase__MessageContent-sc-"] {
   background-color: var(--tertiary-background);
   border-radius: 18px;
   padding: 6px 9px 6px 9px;
   flex-grow: 0;
}

/* force edit box to be wider */
[class^="TextArea-sc-"].Ga-DgS {
   width: 500px;
}

/* smaller username */
.detail > [class^="UserShort__Name-sc-"] {
   font-size: 11px;
}

/* smaller date */
[class^="MessageBase__DetailBase-sc-"] {
   font-size: 9px;
}

/* i forgot what this does lmao */
[class^="sc-jSgvzq"] {
   border-radius: 50px;
}

/* transparent bottom box */
[class^="MessageBox__Base-sc-"] {
   background: transparent;
   padding-bottom: 7px;
}

/* redo margins because message box was kinda off */
[class^="MessageBox__FileAction-sc-"],
[class^="MessageBox__Action-sc-"] {
   margin-bottom: -7px;
}

/* signal-like messagebar */
textarea#message {
   background: var(--message-box);
   border-radius: 50px;
   margin-left: -10px;
   padding-left: 10px;
   margin-top: 5px;
}